<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="col-md-12">
                <a   type="button"  routerLink="/admin/addchef">Ajouter chef</a>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Prenom</th>
                        <th>TypeC</th>
                        <th>Description</th>
                        <th>Facebook</th>
                        <th>Instgram</th>
                        <th>image</th>
                        <th>Actions</th>
                     
                    </tr>
                </thead>
                
                <tbody>
                  
                    <tr *ngFor="let chef of list">
                        <td>{{chef.id}}</td>
                        <td> {{chef.nomPrenom}}</td>
                        <td>{{chef.typeC}}</td>
                        <td>{{chef.description}}</td>
                        <td>{{chef.facebook}}<td>
                        <td>{{chef.instagram}}</td>
                        <td><img style="width: 2cm; height: 2cm;" src={{chef.image}}></td>
                        <td>
                            <div>
                                <li ><button class="text-info" data-toggle="tooltip" title=""  data-original-title="Edit" (click)="update(chef)"><i  class="fas fa-pencil-alt"></i></button></li>&nbsp;&nbsp;&nbsp;
                            <li ><button  class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete" (click)="deleteChef(chef.id)"><i class="far fa-trash-alt"></i></button></li>
                        
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>