<div class="container">
      <h2>Full Menu</h2>
      <div *ngFor="let category of categories">
        <h3>{{ category.name }}</h3>
        <ul>
          <li *ngFor="let menu of menus">
            <div *ngIf="menu.category.id === category.id">
              <h4>{{ menu.name }}</h4>
              <ul>
                <li *ngFor="let menuItem of menu.menuItems">
                  {{ menuItem.name }} - {{ menuItem.description }} - ${{ menuItem.price }}
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>