<section class="main">
  <div class="main-top">
    <h1>Analytics</h1>
  </div>
  <div class="main-panel">
    <div class="content-wrapper pb-0">
      <!-- Router outlet -->
      <div class="square-container">
        <div class="square">
          <i class="fas fa-tasks fa-icon"></i>
          <h2>Commands Passed</h2>
          <p>{{ commandsPassed }}</p>
        </div>
        <div class="square">
          <i class="fas fa-cube fa-icon"></i>
          <h2>Available tables</h2>
          <p>{{ availableTables }}</p> 
        </div>
        <div class="square">
          <i class="fas fa-utensils fa-icon"></i>
          <h2>Number of Items</h2>
          <p>{{ totalMenuItems }}</p> 
        </div>
        <div class="square">
          <i class="fas fa-chart-line fa-icon"></i>
          <h2>Best Seller</h2>
          <p>{{ bestSeller }}</p> <!-- Bind dynamic value here -->
        </div>
      </div>
    </div>
  </div>
</section>
